* {
    box-sizing: border-box;
}

/*img {
    width: 100%;
}*/

body {
    background: url(../img/sos.png);
    font-family: 'Raleway', sans-serif;
}

header {
    background: white;
    border-bottom: 5px solid grey;
    font-family: 'Raleway', sans-serif;
    color: black;
}

header #header-logo {
    height: 60px;
}

#username-header,
#password-header {
    margin-top: 20px;
}

header #button-login,
header #button-logout  {
    margin: 20px 20px 0px 0px;
}

header #tl-button-back,
header #users-button-back {
    margin-top: 20px;
}

.signup .panel-heading,
.user-list .panel-heading,
.message-list .panel-heading {
    background: rgb(231, 157, 0);
    color: white;
}

.user-list,
.message-list {
    margin-top: 40px;
}

.list-group-item > li,{
    margin: 20px;
}

#button-follow,
#button-unfollow {
    padding: 1px 12px;
}

#user-profile-box {
    margin-top: 40px;
    padding: 0px 20px 40px 20px;
    background: white;
    border: 2px solid lightgrey;
    border-radius: 5px;
    text-align: center;
}

#profile-picture {
    max-height: 100px;
    max-width: 100px;
    border-radius: 50%;
    margin-top: 20px;
}